* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #90ee90;
  height: 100vh;
  margin: 0;
  margin-bottom: 30px;
}

h1 img {
  margin-bottom: 10px;
}

h2 {
  display: none;
  z-index: 3;
  position: absolute;
  font-family: 'Inconsolata', monospace;
  font-size: 4em;
  background-color: rgb(255, 187, 172, 0.9); 
  width: 99.99%; 
  top: 32%;
  text-align: center;
  padding: 15px 10px;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke: 0.5px white;
}

.counters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: #099749;
}

div.timer {
  margin: 0 45px;
}

div.points {
  margin: 0 45px;
}

div.lives {
  margin: 0 45px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}


.tile {
  width: 11.11%;
  height: 11.11%;
  border: 2px solid #E5FCE5;
}

div.sunflower {
  background-image: url('../images/sunflower.png');
  background-size: contain;
}

.grass {
  background-image: url('../images/moreWindyGrass.gif');
  background-size: cover;
}

div.frog {
  background-image: url('../images/froggie.png');
  background-size: contain;
  z-index: 100;

}

.lilypad {
  background-color: lightskyblue; 
  background-image: url('../images/lilypad.png');
  background-size: contain;
  position: relative;
}


div.carsRight {
  background-image: url('../images/carRight.gif'); 
  background-size: contain;
  background-repeat: no-repeat;
}

div.carsLeft {
  background-image: url('../images/carLeft.gif'); 
  background-size: contain;
  background-repeat: no-repeat;
}

.road {
  background-color: #AAB7B8;

}

div.tile.frog.log.water {
  background-image: url('../images/froggie.png'), linear-gradient(#592A11, #A1887f, #592A11);
  background-size: contain;
}

div.log {
  background-image: linear-gradient(#592A11, #A1887f, #592A11);
  background-size: contain;
  z-index: 1, 2;  

}

.water {
  background-color: #87cefa;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px; 
}

button {
  background-color: #FFBBAC;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  height: 50px;
  width: 130px;
  margin: 0 100px;
  padding: 5px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 10;
}

.modal-head {
  position: relative;
  top: 50%;
  left: 50.05%;
  transform: translate(-50%, -50%);
  background-color: #FFBBAC;
  padding: 2.5rem 1.5rem;
  width: 40rem;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CFFFCE;
  padding: 1rem 1.5rem;
  width: 40rem;
  border-radius: 0.5rem;
  color: #FFBBAC;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}

.uppercase {
  text-transform: uppercase;
  color: #099749;
}

.howToPlay {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
  border: 3px solid #FFBBAC;
  padding: 5px;
  /* align-items: center; */
}

.aboutFrog {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.aboutLilypad {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.aboutLivesAndPoints {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.close-button {
  float: right;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #CEFFE5;
  color: #FFBBAC;
}

.close-button:hover {
  background-color: #FFBBAC;
  color: #CEFFE5;

}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* button bob-on-hover animation */

@-webkit-keyframes bob-on-hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-on-hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.bob-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
  -webkit-animation-name: bob-on-hover-float, bob-on-hover;
  animation-name: bob-on-hover-float, bob-on-hover;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
